* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug main,
.debug header,
.debug footer {
  border: 1px solid blue;
  height: 200px;
}

html {
  font-size: 100%;
}

body {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.width-20 {
  width: 20%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  height: 150px;
  margin-bottom: 30px;
  background-color: violet;
}

.jumbotron {
  height: 500px;
  margin-bottom: 30px;
  background-color: rgb(201, 201, 0);
}

.main-content {
  margin-bottom: 30px;
  background-color: red;
}
.main-content .main-content-header {
  margin-bottom: 30px;
  background-color: pink;
}

.main-content .main-content-main {
  background-color: tomato;
  padding-bottom: 30px;
}


.col {
  float: left;
}
.col-left,
.col-right {
  width: 25%;
  background-color: lightblue;
}
.col-center {
  width: calc(50% - 60px);
  margin: 0 30px;
  background-color: magenta;
}

footer {
  height: 150px;
  background-color: cyan;
}